{% extends "base.html" %}
{% block first_column %}
<div id="mainCol" class="fix">
    <a name="main"></a>
    <div class="post">
        <h2>Contribute to AstroPython</h2>

<div class="entry">
Contributions and feedback from the community are strongly encouraged.  If you
simply have a question or comment for the AstroPython team please fill in this
form and we'll get back to you as soon as possible.

<p/>If you have a new resource, question, or any other content that you'd like to
post to the web site then likewise fill in this form to send us email and we'll
generally post to the site within a day.  If the content is relatively short
          then just include in this form.  For longer posts with 
          formatting or web links the preferred method is to
          just send a message here indicating the topic
          and we will contact you by email.  Generally we'd like to receive 
          a document in simple HTML and we'll take care of
          posting.

<p/>If you are interested in contributing on a more frequent basis then please
write and we will create an astropython.org user account which will allow you
to log in and post content directly to the site.  We hope to one day have a
more convenient online registration system or OpenID login system but this is
not yet a reality.
</div>

        {% ifequal blog.email "you@foo.com" %}
        <div class="entry">
            <p>We're sorry.  The administrator of this blog hasn't set his or her e-mail yet.</p>
            <p>This poses a conundrum.  How are you to let the blog author know this blog is
               improperly setup when this blog contact form is the only way you can reach the author?</p>
            <p>Most vexing.  I haven't got a clue.  You might want to try Facebook or a general Google search
               to see if the author has a public contact address.</p>
        </div>
        {% else %}
        <form id="htmlform" action="{{ current_url }}" method="post">
            <p><input type="text" id="author" name="author" size="22" tabindex="1" value="{{ nickname }}"/>
                <label for="author"><small>Name</small></label></p>
            <p><input type="text" id="email" name="email" size="22" tabindex="2" value="{{ email }}"/>
                <label for="email"><small>Email</small></label></p>
            <p><input type="text" id="subject" name="subject" size="22" tabindex="3" />
                <label for="subject"><small>Subject</small></label></p>
            <p><textarea id="message" name="message" cols="60" rows="10" tabindex="4">Please enter a message.</textarea></p>
            <p><input name="submit" type="image" src="/static/default/images/btn_submit.gif" alt="Submit" id="submit" tabindex="5" value="Submit" /></p>
            <input type="hidden" name="token" value="{{ token }}" />
        </form>
        {% endifequal %}
    </div>
</div>
{% endblock %}
