{% extends "base.html" %}

{% block first_column %}
<div class="post">
<div class="entry">
<br>
<h2> About the AstroPython site</h2>
<p>Research in astronomy includes the analysis of astronomical images, parsing and manipulation of large catalogs, 
statistical yet often visual inference, and the creation of data visualizations for publication and dissemination of results. </p>

<p>The purpose of this web site is to act as a community knowledge base for performing this
research with the open source Python language. It provides a <a href="/blogs">forum</a> for general
            discussion, advice, or relevant news items,
collecting lists of useful <a href="/resources">resources</a>, users' code <a
              href="/snippets">snippets</a> or scripts, and longer <a
              href="/tutorials">tutorials</a> on specific topics.  The topics
within these pages are presented in a list view with the ability to sort by
            date or topic.  A traditional "blog" view of the most recently posted
            topics is visible from the site <a href="/">Home</a> page.

<h3> Contributing to AstroPython </h3>

<p>Readers are encouraged to submit comments to the topics on this site by
clicking the "Add a comment..." link at the bottom of a posting.  Normally a
topic will be closed for comments after 60 days.  
If you have a particular resource or some content that would be of interest to
   the community please send an email via the <a href="/contact">Contact</a>
   link and we will post the material as appropriate.  Likewise any suggestions on the
   organization or content of this site are welcome via the same link.

<p>Those who are interested in regularly contributing to the
AstroPython site with privilege to post new entries to any of the site
categories should send an email via the <a href="/contact">Contact</a> link.
It would be helpful to include a few sentences of introduction describing your
interest in python and where you work.  We will create an <a href="http://www.astropython.org">astropython.org</a> google user
            account for you which will allow you to log in to the site and post
            content.
</p>

</div>
</div>

 <div id="mainCol" class="fix"><a name="main"></a> <h3
 style="margin-bottom:7px">The AstroPython team</h3>
 
<div class="post">
<div class="entry">
 <div class="about">
 <p> <strong>Thomas Robitaille</strong> is a Spitzer
 postdoctoral fellow at the Harvard-Smithsonian <a
 href="http://www.cfa.harvard.edu/"">Center for Astrophysics</a>. He works on
 studying Galactic star formation, mostly through mid-infrared to mm
 wavelengths. This includes modeling multi-wavelength observations of young
 stars and studying the global properties of star formation in the
 Milky-Way. In his spare time he is a keen Python programmer and is one of
 the co-developers of the <a href="http://aplpy.sourceforge.net/">APLpy</a> and
 <a href="http://atpy.sourceforge.net/">ATpy</a> packages.  He also developed
 the <a href="http://idlsave.sourceforge.net/">IDLSave</a> package.</p>

 <p> <strong>August (Gus) Muench</strong> is an Astrophysicist at the <a
 href="http://www.cfa.harvard.edu/sao/">Smithsonian Astrophysical
 Observatory</a> and is on the User Support team for the US Virtual Astronomical Observatory.  His 
science focuses on studies of star formation in our local Galaxy, using archival, 
broad spectrum (from X-ray to mid-IR) surveys.  Gus made the switch from IDL to 
Python about 5 years ago after a VO summer school.</p>

<p> <strong>Eli Bressert</strong> is a PhD student at the University of Exeter / ESO and
works on clustering of forming stars in the Milky Way. In the last two
years he lead two mapping projects, <a
 href="http://mipsgal.ipac.caltech.edu/iracmips_map.html">MIPSGAL/GLIMPSE</a> 
and <a href="http://sid.astrobiased.com/">Sky Interactive Database</a>, 
to showcase potential uses of mapping services
for science like <a
 href="http://www.google.com/sky/">Google Sky</a>, <a
 href="http://www.worldwidetelescope.org/Home.aspx"> WorldWide Telescope</a>,
 and <a href="http://www.wikisky.org/"> SkyMap</a>. For
three years Eli has been actively using Python and is a co-developer
of the <a
 href="http://aplpy.sourceforge.net/">APLpy</a> and <a
 href="http://atpy.sourceforge.net/">ATpy</a> packages.</p>

 <p style="padding-bottom:5px"> <strong>Tom Aldcroft</strong> is a Science
 Operations Team member and Flight Director for the <a
 href="chandra.harvard.edu">Chandra X-ray Observatory</a> and works at the <a
 href="http://www.cfa.harvard.edu/sao/">Smithsonian Astrophysical
 Observatory</a>.  He uses Python for Chandra
 spacecraft operations analysis as well as research on several X-ray
 survey projects.  He is the author of the 
<a href="http://cxc.harvard.edu/contrib/asciitable/">asciitable</a>, 
<a href="http://cxc.harvard.edu/contrib/cosmocalc/">cosmocalc</a>, and
<a href="http://cxc.harvard.edu/contrib/deproject/">deproject</a>
 packages.  He is also
 interested in Python for the web and writes <a
 href="http://www.djangoproject.com/">Django</a> and <a
 href="http://code.google.com/appengine/">Google App Engine</a> applications
 for presenting large multi-wavelength survey datasets.  He has been the lead
 in adapting the <a href="http://bloog.billkatz.com/">bloog</a> GAE blog
 software to run the AstroPython site.  </p>

<p><strong>Prasanth Nair</strong> has a masters degree in astronomy and 
is an avid follower of Python and its usage in astronomy.  He writes
about astronomy and software in his <a href="http://oneau.wordpress.com/">
                  Comfort at 1 AU</a> blog.</p>

 </div>
 </div>
 </div>
 </div>
{% endblock %}
