{% extends "base.html" %}

{% block first_column %}
<div id="mainCol" class="fix"><a name="main"></a>
    <div class="post">
        <h2>{{category_cfg.title}}: {{category_cfg.subtitle}}</h2>
        {% if blog_entries %}
            <table>
            <tr> <th> <a href="{{ category }}s?sort=title_lower" title="Sort by title" >Title</a> </th> 
                 {% ifequal category "resource" %}
                  <th> Description </th> 
                  <th> <a href="{{ category }}s?sort=tag" title="Sort and group the resources by Tag">Tags</a> </th> 
                {% else %}
                  <th> <a href="{{ category }}s?sort=-updated" title="Sort by date">Date</a> </th> 
                  <th> Tags </th> 
                {% endifequal %}
              </tr>
            {% for blog in blog_entries %}
              <tr> <td> <a href="{{ blog.permalink }}"  alt="{{ blog.title }}">{{ blog.title }}</a> </td>
                  {% ifequal category "resource" %}
                    <td> {{ blog.resource_description }}</td> 
                  {% else %}
                   <td> {{ blog.updated.year }}-{{ blog.updated.month }}-{{ blog.updated.day }} </td>
                  {% endifequal %}
                   <td> {% for tag in blog.tags %} <a href="/tag/{{ tag }}">{{ tag }}</a> {% endfor %} </td>
              </tr>
            {% endfor %}
            </table>
        {% else %}
            <table>
                {% for tag_blog_entry in tag_blog_entries %}
                  <tr> <th colspan=2> {{ tag_blog_entry.tag }} </th> </tr>
                  {% for blog in tag_blog_entry.blog_entries %}
                    <tr> <td> <a href="{{ blog.permalink }}" alt="{{blog.title}}">{{ blog.title }}</a> </td>
                      {% ifequal category "resource" %}
                        <td> {{ blog.resource_description }}</td> 
                      {% else %}
                     <td> {{ blog.updated.year }}-{{ blog.updated.month }}-{{ blog.updated.day }} </td>
                      {% endifequal %}
                    </tr>
                  {% endfor %}
                {% endfor %}
            </table>
        {% endif %}
    </div>

{% include 'pager.html' %}
</div>
{% endblock %}
